<!-- extend base layout -->
{% extends "index_base.html" %}

{% block head_css %}
        {{ super() }}
        <link href="{{url_for('static',filename='css/custom.css')}}" rel="stylesheet">
{% endblock %}

{% block content %}

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
       <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
       <li data-target="#carousel-example-generic" data-slide-to="1" class="active"></li>
       <li data-target="#carousel-example-generic" data-slide-to="2" class="active"></li>
       <li data-target="#carousel-example-generic" data-slide-to="3" class="active"></li>
       <li data-target="#carousel-example-generic" data-slide-to="4" class="active"></li>
       <li data-target="#carousel-example-generic" data-slide-to="5" class="active"></li>
    </ol>
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <div class="jumbotron" style="background:url('static/img/index (1).png');width: 100%; padding-top: 20%; top: 20%; left: 20%;background-repeat: no-repeat;">
            <div class="container">
            <center>
            <p><a class="btn btn-primary btn-lg" href="http://3.239.18.188:8080/login/"role="button">{{_("立即登記")}} &raquo;</a></p>
            </center>
            </div>
           </div>
        </div>

        <div class="item">
            <div class="jumbotron" style="background:url('static/img/index (2).png');width: 100%; padding-top: 20%; top: 20%; left: 20%;background-repeat: no-repeat;">
            <div class="container">
            <center>
                <p><a class="btn btn-primary btn-lg" href="http://54.160.3.219:8080/login/" role="button">{{_("立即選購")}} &raquo;</a></p>
            </center>
            </div>
            </div>
        </div>

        <div class="item">
            <div class="jumbotron" style="background:url('static/img/index (3).png');width: 100%; padding-top: 20%; top: 20%; left: 20%;background-repeat: no-repeat;">
            <div class="container">
            <center>
                <p><a class="btn btn-primary btn-lg" href="http://flask-appbuilder.readthedocs.org/en/latest/" role="button">{{_("了解更多")}} &raquo;</a></p>
            </center>
            </div>
            </div>
        </div>

        <div class="item">
            <div class="jumbotron" style="background:url('static/img/index (4).png');width: 100%; padding-top: 20%; %;background-repeat: no-repeat;">
            <div class="container">
            <center>
                <p><a class="btn btn-primary btn-lg"  href="login" role="button">{{_("立即選購")}} &raquo;</a></p>
            </center>
            </div>
            </div>
        </div>
                
        <div class="item">
            <div class="jumbotron" style="background:url('static/img/index (5).png');width: 100%; padding-top: 20%; top: 20%; left: 20%;background-repeat: no-repeat;">
            <div class="container">
            <center>
                <p><a class="btn btn-primary btn-lg" href="http://54.160.3.219:8080/login/" role="button">{{_("了解詳情")}} &raquo;</a></p>
            </center>
            </div>
            </div>
        </div>
               
        <div class="item">
            <div class="jumbotron" style="background:url('static/img/index (6).png');width: 100%; padding-top: 20%; top: 20%; left: 20%;background-repeat: no-repeat;">
            <div class="container">
            <center>
                <p><a class="btn btn-primary btn-lg" href="http://54.160.3.219:8080/login/" role="button">{{_("了解詳情")}} &raquo;</a></p>
            </center>
            </div>
            </div>
        </div>
                
</div>

    <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>

</div>

      <div class="row featurette" style="background:url('static/img/polaroid.jpg');width: 100%; padding-top: 20%; top: 20%; left: 20%;background-repeat: no-repeat;">
        <div class="col-lg-5 col-lg-offset-1">
          <h2 class="featurette-heading">{{_("輕鬆把智能融入生活")}}</h2>
        <ul>
            <li class="lead tight">{{_("登記極速光纖寬頻計劃，只需額外繳付低至$38月費，即可輕鬆打造你的智能家居！")}}</li>
            <li class="lead tight">{{_("HKBN Home智能家居方案三大特點 :")}}</li>
            <li class="lead tight">{{_("HKBN Home一App掌控全屋智能裝置")}}</li>
            <li class="lead tight">{{_("廣東話語音操作*")}}</li>
            <li class="lead tight">{{_("一站式上門安裝及遙距支援服務")}}</li>
            <li class="lead tight">{{_("*語音操作需配合指定iOS裝置以支援Siri 語音指令。")}}</li>
            <li class="lead tight">{{_("#客戶亦可選擇到指定地點取貨及自行安裝，上門安裝服務只適用於選用指定服務計劃的合資格客戶。")}}</li>
        </ul>
        </div>
      </div>

      <div class="row featurette" style="background-image:url('static/img/fabric_1.jpg');width: 100%; padding-top: 20%; top: 20%; left: 20%;background-repeat: no-repeat;">
          <div class="col-md-3 col-md-offset-1 col-xs-offset-1 "></div>
          <div class="col-lg-5 col-lg-offset-3">
            <h2 class="featurette-heading">{{_("買機上台5G計劃月費低至$248!")}}</h2>
          <ul>
            <li class="lead tight">{{_("新客戶買Samsung Galaxy S21 5G系列連指定家居寬頻及／或流動通訊計劃，機價折扣高達$1,300#！ 另有4G流動通訊計劃可供選擇！")}}</li>
            <li class="lead tight">{{_("於2021年5月31日或之前成功購買Galaxy S21 5G系列手機，更可享Galaxy Buds+無線耳機或無線閃充充電板(P1300)*。")}}</li>
            <p><a class="btn btn-primary btn-lg" href="http://3.239.18.188:8080/login/" role="button">{{_("買機上台")}} &raquo;</a>
            <a class="btn btn-primary btn-lg" href="http://3.239.18.188:8080/login/" role="button">{{_("SIM卡計劃")}} &raquo;</a></p>
          </ul>
        </div>
      </div>

      <div class="row featurette" style="background:url('static/img/old_moon.jpg');width: 100%; padding-top:20%; top: 20%; left: 20%;background-repeat: no-repeat;">
        <div class="col-md-3 col-md-offset-1 col-xs-offset-1 "></div>
        <div class="col-lg-5 col-lg-offset-3">
          <h2 class="featurette-heading">{{_("限時優惠平均每日低於$1")}}</h2>
        <ul>
            <li class="lead tight">{{_("組合包括 HKBN Safe (3個裝置) + HKBN ID PROTECTION (2個電郵) ，")}}</li>
            <li class="lead tight">{{_("一個月費即可享企業級的網絡保護，防禦各種網絡威脅！")}}</li>
            <p><a class="btn btn-primary btn-lg" href="http://3.239.18.188:8080/login/" role="button">{{_("新客戶")}} &raquo;</a>
            <a class="btn btn-primary btn-lg" href="http://3.239.18.188:8080/login/" role="button">{{_("現有客戶")}} &raquo;</a></p>
            <li class="lead tight">{{_("服務由芬蘭網絡安全方案供應商 F-Secure 提供。")}}</li>
            <li class="lead tight">{{_("受條款及細則約束。")}}</li>
        </ul>
        </div>
        <div class="col-md-3 col-xs-3 col-md-offset-1 col-xs-offset-1">
        </div>
      </div>

       <div class="row featurette" style="background:url('static/img/green_cup.jpg');width: 100%; padding-top: 20%; top: 20%; left: 20%;background-repeat: no-repeat;">
          <div class="col-xs-offset-1 col-lg-4">
            <h2 class="featurette-heading">{{_("運動跑步的絕佳伴侶")}}</h2>
          <ul>
            <li class="lead tight">{{_("登記 JOOX VIP 聽歌享全新推出的 Monster N-Lite 200「真」無線耳機！魔聲自家製")}}</li>
            <li class="lead tight">{{_("專業調音 Pure Monster Sound，為你帶來清晰而不失真的重低音。耳機外型輕巧、")}}</li>
            <li class="lead tight">{{_("IPX5 防雨防汗，更可支援 USB Type C 快速充電、無線充電等！")}}</li>
            <p><a class="btn btn-primary btn-lg" href="http://3.239.18.188:8080/login/" role="button">{{_("立刻登記")}} &raquo;</a></p>
          </ul>
        </div>
      </div>

{% endblock %}
