<!-- extend base layout -->
{% extends "index_base.html" %}

{% block head_css %}
        {{ super() }}
        <link href="{{url_for('static',filename='css/custom.css')}}" rel="stylesheet">
{% endblock %}

{% block content %}

    <!-- Wrapper for slides -->
   

    <!-- Controls -->
      <div class="row featurette"></div> 
      <img src="{{url_for('static',filename='img/index(7).jpg')}}" class="img-responsive" style="border-style:solid;border-width:1px">
        <div class="col-md-7 col-md-offset-1 col-xs-offset-1">
          <h1 class="featurette-heading">{{_("HKBN Home 智能家居方案")}}</h1>
          <h3 class="featurette-heading">{{_("登記極速光纖寬頻計劃，只需額外繳付低至$38月費，即可輕鬆打造你的智能家居！")}}</h3>
           <h4 class="featurette-heading">{{_("香港寬頻智能家居方案讓你的生活環境變得更方便、舒適及")}}</h4>
           <h4 class="featurette-heading">{{_("安全。無需大肆裝修及更換現有家電，即可透過HKBN")}}</h4>
           <h4 class="featurette-heading">{{_("Home手機應用程式，甚至以廣東話聲控功能*操作屋內設備")}}</h4>
           <h4 class="featurette-heading">{{_("及智能裝置。")}}</h4>
      </div>

      <div class="row featurette"></div>
      <img src="{{url_for('static',filename='img/smarthome2.jpg')}}" class="img-responsive" style="border-style:solid;border-width:1px">
          <div class="col-md-7 col-md-offset-1 col-xs-offset-1">
            <h2 class="featurette-heading">{{_("MOMAX Robust IoT 智能紫外光負離子空氣淨化機")}}</h2>
          <ul>
            <h3 class="featurette-heading">{{_("(免費獲贈 MOMAX Fresh 360 Plus 神奇吸濕棒一個)")}}</h3>
            <li class="lead tight">{{_("覆蓋範圍廣闊，為整個客廳帶來潔淨清新的空氣，經香港認證中心測試報告證實潔淨空氣量(CADR)每小時可達298立方米")}}</li>
            <li class="lead tight">{{_("內置UV-C紫外光燈，殺滅或減弱高達百份之99，空氣中傳播的細菌")}}</li>
            <li class="lead tight">{{_("採用H13 HEPA及活性碳過濾網（含抗菌塗層），有效過濾細至0.25微米的空氣傳播顆粒（阻隔PM2.5懸浮粒子）、0.3至10微米的氣溶膠、揮發性有機化合物、致敏原如塵蟎、花粉等")}}</li>
            <li class="lead tight">{{_("每秒釋放500萬負離子，有助淨化空氣中的污染物")}}</li>
            <li class="lead tight">{{_("LED控制面板，清晰顯示PM2.5懸浮粒子濃度，家中空氣質素一目了然")}}</li>
            <li class="lead tight">{{_("手機智能操作，透過HKBN Home手機應用程式，輕鬆自訂空氣淨化時間表，以及按PM2.5懸浮粒子濃度自動啟動，並支援遙距開關和粵語聲控")}}</li>
            <p><a class="btn btn-primary btn-lg" href="http://3.239.18.188:8080/login/" role="button">{{_("請致電銷售熱線 3616 9999")}} &raquo;</a></p>
            <li  class="lead tight">{{_("覆蓋範圍40立方米，即約400平方尺，實際覆蓋範圍會因環境因素而異，包括樓底高度、空氣流通量及其他外在因素。 #獲香港認證中心測試證實，能有效殺滅百份之99大腸桿菌及金黃色葡萄球菌。")}}</li></
          </ul>
        </div>
      </div>

      <div class="row featurette"></div>
      <img src="{{url_for('static',filename='img/xQj4iNt5rdl81qFGhm8VaOLr8lF6w4PzqOp6QcFdLM.jpg')}}" class="img-responsive" style="border-style:solid;border-width:1px">
        <div class="col-md-7 col-md-offset-1 col-xs-offset-1">
          <h2 class="featurette-heading">{{_("MOMAX 2 Healthy IoT 智能空氣淨化抽濕機")}}</h2>
        <ul>
            <li class="lead tight">{{_("抽濕淨化功能二合一，一次過解決潮濕問題及改善室內空氣質素")}}</li>
            <li class="lead tight">{{_("採用高效率三層H13 HEPA及活性碳過濾網，過濾細至0.3微米空氣污染物，阻隔塵蟎、 PM2.5懸浮粒子、甲醛、揮發性有機化合物等")}}</li>
            <li class="lead tight">{{_("機身設計細小且覆蓋廣泛，抽濕範圍達20平方米，適合於客廳或睡房使用")}}</li>
            <li class="lead tight">{{_("靜音模式，以低至38dB靜音運行")}}</li>
            <li class="lead tight">{{_("香港認證安全可靠，有效過濾甲醛及揮發性有機化合物")}}</li>
            <li class="lead tight">{{_("手機智能化操作，透過HKBN Home手機應用程式自訂抽濕時間表、按天氣狀況自動抽濕、遙距控制開關及粵語聲控")}}</li>
           <p><a class="btn btn-primary btn-lg" href="http://3.239.18.188:8080/login/" role="button">{{_("請致電銷售熱線 3616 9999")}} &raquo;</a></p>
           </ul>
        </div>
      </div>

       <div class="row featurette"></div>
        <img src="{{url_for('static',filename='img/0FmrXF7J4aUlnd97lYnJckcgDSpcaywWzGz4n3WsKU.jpg')}}" class="img-responsive" style="border-style:solid;border-width:1px">
          <div class="col-md-7 col-md-offset-1 col-xs-offset-1">
            <h2 class="featurette-heading">{{_("MOMAX Ultra-Air Plus IoT 智能紫外光空氣淨化冷暖風機侶")}}</h2>
          <ul>
            <li class="lead tight">{{_("內置UV-C消毒燈，有效殺滅空氣中百份之99.9細菌")}}</li>
            <li class="lead tight">{{_("H13 HEPA濾網，專業過濾PM2.5懸浮粒子、花粉、塵蟎、氣溶膠、致敏原")}}</li>
            <li class="lead tight">{{_("智能恆溫，內置恆溫傳感器控制室內溫度並實現節能效益")}}</li>
            <li class="lead tight">{{_("空氣淨化、冷暖風三合一，免除收納煩惱")}}</li>
            <li class="lead tight">{{_("全方位環迴送風，可調式80°自動搖擺及前後30°調較送風角度")}}</li>
            <li class="lead tight">{{_("超靜音設計，以低至40dB靜音運行，帶來安靜睡眠環境")}}</li>
            <li class="lead tight">{{_("手機智能化操作，透過HKBN Home手機應用程式自訂開關時間表、根據天氣執行預設模式、遙距操作及粵語聲控")}}</li>
            <p><a class="btn btn-primary btn-lg" href="http://3.239.18.188:8080/login/" role="button">{{_("請致電銷售熱線 3616 9999")}} &raquo;</a></p>
            <li class="lead tight">{{_("獲香港認證中心認證，能有效殺滅百份之99.9細菌。")}}</li>
          </ul>
        </div>
      </div>

{% endblock %}